<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/results">
       <label>Enter a sentence: <input type="text" name="string" /></label><br/>
       <input type="submit" id="Submit" />
     </form>
  </body>
</html>
